{{ define "main" }}
  {{ $authpage := printf "%s%s" "/authors/" .Params.authid }}
  {{ $avatar := "" }}
  {{ $authtitle := "" }}
  {{ $authpermalink := "" }}
  {{ with .Site.GetPage $authpage }}
    {{ $avatar = .Params.avatar }}
    {{ if or
      (eq .Params.avatar "f")
      (eq .Params.avatar "m")
      (eq .Params.avatar "g")
    }}
      {{ $avatar = printf "%simages/%s.svg" .Site.BaseURL .Params.avatar }}
    {{ end }}
    {{ $authtitle = .Title }}
    {{ $authpermalink = .Permalink }}
  {{ end }}


  <div
    class="category-{{ index .Params.categories 0 | urlize }} {{ range .Params.tags }}
      tag-{{ . | urlize }}
    {{ end }}  container">
    <div class="jumbotron jumbotron-fluid position-relative mb-3 bg-white pb-0 pl-0 pt-0">
      <div class="h-100 tofront">
        <div class="row  justify-content-center">
          <div class=" col-md-8 pr-md-4 align-self-center pb-4 pr-0 pt-4">
            <p class="text-uppercase font-weight-bold">
              <span class="catlist">
                <a class="sscroll text-danger" target="_blank" href="{{ .Site.BaseURL }}{{ .Section | urlize }}" rel="category tag">{{ .Section }}</a>
              </span>
            </p>
            <h1 class="display-4 article-headline mb-4">{{ .Title }}</h1>
            <div class="d-flex align-items-center mb-4">
              <a href="{{ .Permalink }}"><img class="rounded-full" src="{{ $avatar }}" alt="{{ $authtitle }}" width="70" /></a>

              <small class="ml-3">
                <a id="def-single-auth-top" href="{{ $authpermalink }}"> {{ $authtitle }}</a>

                <span class="text-muted d-block mt-1" id="post-date"
                  >{{ .Date.Format "January 02, 2006" }}
                  |
                  {{ .ReadingTime }}
                  minute{{ if (ne .ReadingTime 1) }}s{{ end }}</span
                >
                <!--SHARE BUTTON -->
                {{ partial "share" . }}
                <!-- END SHARE BUTTON -->
              </small>
            </div>
          </div>
        </div>
      </div>
      {{/* END OF class="h-100 tofront" */}}
    </div>
    {{/* END OF class="jumbotron jumbotron-fluid mb-3 pl-0 pt-0 pb-0 bg-white position-relative" */}}
  </div>
  {{/* END OF class="container" */}}
  <div
    class="container-lg category-{{ index .Params.categories 0 | urlize }} {{ range .Params.tags }}
      tag-{{ . | urlize }}
    {{ end }} pb-4  pt-4">
    <div class="row justify-content-center">
      <div class="col-lg-2 col-md-12 mb-4 pr-4"></div>
      <!--NOTE[Riz] Just to push content to center-->

      <div class="col-md-12 col-lg-12 px-4">
        <!-- Article -->

        <article class="article-post">
          <script src="https://cdn.jsdelivr.net/npm/baguettebox.js@1.11.1/dist/baguetteBox.min.js"></script>
          <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/baguettebox.js@1.11.1/dist/baguetteBox.min.css" />

          <div class="baguetteBoxOne gallery grid grid-cols-2 gap-4 md:grid-cols-3">
            {{ range $photo := .Params.photos }}
              {{/* Each photo is a map */}}


              <a href="{{ index $photo "img" }}">
                <img class="h-auto max-w-full rounded-lg" src="{{ index $photo "thumb" }}" />
              </a>
            {{ end }}
          </div>
          <script>
            baguetteBox.run(".baguetteBoxOne");
          </script>
          {{ .Content }}
        </article>
        <!-- Tags -->
        <div class="mb-4">
          <span class="taglist">
            {{ range .Params.tags }}
              <a class="post-tag-pill" href="{{ absURL "tags" }}/{{ . | urlize }}"> <i class="text-muted icon-hashtag" style="opacity:0.5;margin-right:1px"></i>{{ . | lower }}</a>
            {{ end }}
          </span>
        </div>

        <!-- Author Box -->
        {{ $pagetitle := .Title }}
        {{ with .Site.GetPage $authpage }}
          <div class="mt-5 flex flex-col md:flex-row">
            <div class="col-md-2 flex justify-center">
              <!--TODO[Rizwan]: Add gender neutral default avatar-->

              <a href="{{ .Permalink }}"><img class="rounded-circle" src="{{ $avatar }}" alt="{{ .Title }}" width="90" /></a>
            </div>
            <div class="col-md-10">
              <h5 class="font-weight-bold mb-2 text-center md:text-left">
                by
                {{ .Title }}
                {{ with .Params.twitter }}
                  <span>
                    <a class="btn btn-outline-success btn-sm btn-round ml-2" target="_blank" href="{{ . }}">Follow</a>
                  </span>
                {{ end }}
              </h5>
              {{ .Params.biosmall }}
              {{ if .Params.multiple }}
                <br />See more works from
                {{ index (split .Title " ") 0 }}
                <a href="{{ .Permalink }}">
                  <i class="icon-angle-circled-right"></i>
                </a>
              {{ end }}
              <br /><br />
              <p class="green-callout">
                Send your comments about this post to
                <a class="fancy-link-hover" target="_blank" href="mailto:{{ .Site.Params.email }}?subject={{ $pagetitle }}"> {{ .Site.Params.email }}</a>
              </p>
            </div>
          </div>
        {{ end }}
        {{/* END OF with .Site.GetPage $authpage AND AUTHOR BOX */}}
        {{/* BEGIN COMMENTS */}}
        {{ if isset .Params "comments" }}
          {{ partial "comment.html" . }}
        {{ end }}
        {{/* END OF COMMENTS */}}
      </div>
    </div>
  </div>
  {{/* END OF class="container-lg pt-4 pb-4" */}}

  {{/* TODO[Riz] Make this into a partial */}}
  {{ partial "alertbar.html" . }}
{{ end }}
