{{ define "main" }}
  <div style="height:5rem"></div>
  <div class="profile-container container">
    <div class="d-flex justify-content-center">
      <h6 class="col-md-8 h5 font-weight-bold spanborder mb-4">
        Posts in the category:
        {{ .Page.Title | strings.FirstUpper }}
      </h6>
    </div>
    <div class="d-flex justify-content-center">
      <div class="col-md-8 main-loop">
        {{ range .Pages }}
          {{ partial "main-loop-card" . }}
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
