<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
	{{ partial "head.html" . }}
	<body>
		{{ partial "nav.html" . }}
	  
		<!-- TODO[Rizwan]: For Future -->
		<div id="lunrsearchresults">
			<ul class="mb-0"></ul>
		  </div>
	  
		  <!-- Content -->
		  <main role="main" class="site-content">
			{{- block "main" . }}{{- end }}
		  </main>


	  
		  <script src="{{ .Site.BaseURL}}js/theme.js"></script>
	  
		  <!-- Footer -->
		  <footer class="bg-white border-top p-3 text-muted small">
			<div class="container">
			  <div class="row align-items-center justify-content-between">
				<div>
				  <span class="navbar-brand mr-2 mb-0">
					<strong>{{.Site.Title}}</strong>
					 <img src="{{ .Site.BaseURL}}images/logo.svg" width="150px" height="150px" loading="lazy"/> 
				  </span>
				 
				<span style="display: inline-block;">Email: <a href = "mailto: {{ .Site.Params.email }}">{{ .Site.Params.email }}</a><br>Copyright ©
					{{ now.Format "2006" }}.</p>
	
				  <!-- Github Repo Star Btn-->
	  
				</div>
			  </div>
			</div>
		  </footer>

	  </body>

</html>