{{ define "main" }}
  {{ partial "special.html" . }}
  <div class="container">
    <div class="flex-wrapper">
      <!-- If it is the first page of HOME -->

      {{ $paginator := .Paginate (where .Site.RegularPages ".Params.family" "regular") }}
      {{ if and .IsHome ( eq $paginator.PageNumber 1 ) }}
        {{ $pages := first 5 (where .Site.RegularPages ".Params.family" "regular") }}
        <div class="alignfullincol position-relative" id="latest-posts">
          <div class="container pb-5 ">
            <div class="row justify-content-center">
              {{ with index $pages 0 }}
                <div class="col-sm-12 col-md-6 col-xl-4">
                  <div class="card postbox_style2 border-0">
                    <a target="_blank" href="{{ .Permalink }}" aria-label="Read more about {{ .Title }}">
                      <!-- TODO[Rizwan]: Default image -->
                      <img
                        class="attachment-postbox-style2 size-postbox-style2 wp-post-image"
                        src="{{ index .Params.img }}"
                        alt="{{ .Params.title }}"
                        decoding="async"
                        loading="lazy"
                        width="548"
                        style="max-height: 250px;" />
                    </a>
                    <div class="card-body mt-4 pb-0 pl-0 pr-0">
                      <h2 class="h4">
                        <a class="text-dark" target="_blank" href="{{ .Permalink }}"> {{ .Title }}</a>
                      </h2>
                      <a class="text-muted" target="_blank" href="{{ .Permalink }}" aria-label="Read more about {{ .Title }}">
                        <p>{{ .Summary }} ...</p>
                      </a>
                      <div class="d-flex align-items-center">
                        <small class="text-muted">
                          <span class="thecatlinks text-dark">
                            <a class="text-muted text-capitalize smoothscroll" target="_blank" href="{{ .Site.BaseURL }}{{ .Section | urlize }}" rel="category tag"
                              >{{ replace .Section "_" " " }}</a
                            >
                          </span>
                          by
                          {{/* AUTHOR */}}
                          {{ $authpage := printf "%s%s" "/authors/" .Params.authid }}
                          {{ with .Site.GetPage $authpage }}
                            <a class="text-capitalize" target="_blank" href="{{ .Site.BaseURL }}{{ $authpage }}">{{ .Title }}</a>
                          {{ end }}


                          <span class="text-muted d-block">
                            <span class="post-date">
                              <time class="post-date"
                                >Published on
                                {{ .Date.Format "January 02, 2006" }}
                              </time>
                            </span>
                          </span>
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END OF  with index $pages 0-->
              {{ end }}
              {{/* BEGINNING OF 2-4 Posts FLUXBOX */}}
              <div class="col-sm-12 col-md-6 col-xl-5">
                <!--SECOND TO FOURTH POSTS -->
                {{ range after 1 $pages | first 3 }}

                  <div class="mt-md-0 d-flex post_box_style3 mb-3 mt-3">
                    <div class="col-4 col-md-4 pl-0">
                      <a target="_blank" href="{{ .Permalink }}" aria-label="Read more about {{ .Title }}">
                        <img
                          class="attachment-postbox-style3 size-postbox-style3 wp-post-image"
                          src="{{ index .Params.img }}"
                          alt="{{ .Params.title }}"
                          decoding="async"
                          loading="lazy"
                          width="168"
                          style="height: 147px;" />
                      </a>
                    </div>
                    <div>
                      <!--TITLE-->
                      <h2 class="h6 mb-2">
                        <a class="text-dark" target="_blank" href="{{ .Permalink }}" aria-label="Read more about {{ .Title }}"> {{ .Title }}</a>
                      </h2>
                      <!--END OF TITLE-->
                      <div>
                        <!-- AUTHOR, CATEGORY-->
                        <small class="d-block text-muted">
                          <span class="thecatlinks text-dark">
                            <a class="text-muted text-capitalize smoothscroll" target="_blank" href="{{ .Site.BaseURL }}{{ .Section | urlize }}" rel="category tag"
                              >{{ replace .Section "-"
                                " "
                              }}</a
                            ></span
                          >
                          by
                          {{ $authpage := printf "%s%s" "/authors/" .Params.authid }}
                          {{ with .Site.GetPage $authpage }}
                            <a class="text-capitalize" target="_blank" href="{{ .Site.BaseURL }}{{ $authpage }}">{{ .Title }}</a>
                          {{ end }}
                        </small>
                        <!-- END OF AUTHOR, CATEGORY-->

                        <!-- PUBLICATION TIME, READ TIME-->
                        <small class="text-muted"
                          >Published on
                          {{ .Date.Format "January 02, 2006" }}
                        </small>
                        <!-- END OF PUBLICATION TIME, READ TIME-->
                      </div>
                    </div>
                  </div>
                {{ end }}
                <!--END OF SECOND TO FOURTH POSTS -->
              </div>
              {{/* END OF 2-4 POSTS FLUXBOX */}}
              <!--FIFTH POST -->
              {{ with index $pages 4 }}
                <div class="col-sm-12 col-md-12 col-xl-3 fifth-post">
                  <div class="mt-md-0 card postbox_style2_right mb-4 mt-3 border-0">
                    <a target="_blank" href="{{ .Permalink }}">
                      <img
                        class="attachment-postbox-style2-right size-postbox-style2-right wp-post-image"
                        src="{{ index .Params.img }}"
                        alt="{{ .Params.title }}"
                        decoding="async"
                        loading="lazy" />
                    </a>
                    <div class="card-body mt-4 pb-0 pl-0 pr-0">
                      <h2 class="h4">
                        <a class="text-dark" target="_blank" href="{{ .Permalink }}" aria-label="Read more about {{ .Title }}"> {{ .Title }}</a>
                      </h2>
                      <a class="text-muted" target="_blank" href="{{ .Permalink }}" aria-label="Read more about {{ .Title }}">
                        <p class="d-none">{{ .Summary }}...</p>
                      </a>
                      <div class="d-flex align-items-center">
                        <small class="text-muted">
                          <span class="thecatlinks text-dark">
                            <span class="thecatlinks text-dark">
                              <a class="text-muted text-capitalize smoothscroll" target="_blank" href="{{ .Site.BaseURL }}{{ .Section | urlize }}" rel="category tag">
                                {{ replace .Section "_" " " }}</a
                              ></span
                            >
                          </span>
                          by
                          {{ $authpage := printf "%s%s" "/authors/" .Params.authid }}
                          {{ with .Site.GetPage $authpage }}
                            <a class="text-capitalize" target="_blank" href="{{ .Site.BaseURL }}{{ $authpage }}">{{ .Title }}</a>
                          {{ end }}


                          <span class="text-muted d-block">
                            <span class="post-date">
                              <time class="post-date">
                                Published on
                                {{ .Date.Format "January 02, 2006" }}
                              </time>
                            </span>
                          </span>
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
              {{ end }}
              <!--END OF FIFTH POST -->
            </div>
            <!-- END OF class="row justify-content-center" -->
          </div>
          <!-- END OF class="container pb-5 "-->
        </div>
        <!-- END OF  class="alignfullincol position-relative" id="latest-posts"-->

        {{/* BEGIN IN FOCUS */}}

        {{ $infocus := where .Site.RegularPages "Params.tags" "intersect" (slice "focus") }}
        {{/* Ref: https://risanb.com/code/list-pages-with-tag-on-hugo/ */}}
        {{ with index $infocus 0 }}
          <div class="jumbotron jumbotron-fluid jumbotron-home mb-2rem position-relative mt-3 pb-0 pt-0" id="in-focus">
            <div class="relative z-10 h-full">
              <div class="justify-content-between flex flex-wrap">
                <div class="align-self-center order-2 w-full p-8 md:order-1 md:w-1/2">
                  <p>IN FOCUS</p>
                  <a target="_blank" href="{{ .Permalink }}" style="color:inherit;" aria-label="Read more about {{ .Title }}">
                    <h1 class="mb-3">
                      {{ .Title }}
                      by
                      {{ $authpage := printf "%s%s" "/authors/" .Params.authid }}
                      {{ with .Site.GetPage $authpage }}
                        {{ .Title }}
                      {{ end }}
                    </h1>
                  </a>
                  <p class="lead mb-3">
                    {{ .Summary }}
                  </p>
                  <a class="button-52" target="_blank" href="{{ .Permalink }}" style="color:bisque" aria-label="Read more about {{ .Title }}">Read More</a>
                </div>
                <img class="order-1 w-full pr-0 md:order-2 md:w-1/2" id="sticky-image" src="{{ index .Params.img }}" style="background-size:cover;" alt="{{ .Params.title }}" />
              </div>
            </div>
          </div>
        {{ end }}
        {{/* END IN FOCUS */}}

        <!-- END OF  "If it is the first page of HOME"-->
      {{ end }}


      <div class="row mt-3" id="all-stories">
        <div class="col-md-8 main-loop" id="mainloop">
          <h4 class="font-weight-bold spanborder"><span>All Stories</span></h4>
          {{ if and .IsHome ( eq $paginator.PageNumber 1 ) }}
            {{ range after 5 $paginator.Pages }}
              {{ partial "main-loop-card" . }}
            {{ end }}
          {{ else }}
            {{ range $paginator.Pages }}
              {{ partial "main-loop-card" . }}
            {{ end }}
          {{ end }}


          <div class="mt-5">
            <!-- Pagination links -->
            {{ partial "pager" . }}
          </div>
          <div class="clearfix"></div>
        </div>
        {{/* END OF class="col-md-8 main-loop" */}}
        <div class="col-md-4" id="featured">
          <div class="sticky-top sticky-top-offset">
            <h4 class="font-weight-bold spanborder"><span>Featured</span></h4>
            <ol class="list-featured">
              {{ $posts := where .Site.RegularPages "Params.tags" "intersect" (slice "featured") }}
              {{ range $posts }}
                <li class="mb-4">
                  <span>
                    <h6 class="font-weight-bold">
                      <a class="text-dark" target="_blank" href="{{ .Permalink }}">{{ .Title }}</a>
                    </h6>
                    <span class="d-block text-muted">
                      <span class="thecatlinks text-dark">
                        <a class="text-muted text-capitalize smoothscroll" target="_blank" href="{{ .Site.BaseURL }}{{ .Section | urlize }}" rel="category tag"
                          >{{ replace .Section "_" " " }}</a
                        >
                      </span>
                      by
                      {{/* AUTHOR */}}
                      {{ $authpage := printf "%s%s" "/authors/" .Params.authid }}
                      {{ with .Site.GetPage $authpage }}
                        <a class="text-capitalize" target="_blank" href="{{ .Site.BaseURL }}{{ $authpage }}">{{ .Title }}</a>
                      {{ end }}
                    </span>
                  </span>
                </li>
              {{ end }}
            </ol>
          </div>
        </div>
      </div>
      {{/* END OF class="row mt-3" id="allstories" */}}
      <div class="row mt-3" id="allcategories">
        <div class="display-categories col-md-8 mt-5">
          <h4 class="font-weight-bold spanborder"><span>Categories</span></h4>
          <div class="grid grid-cols-2 gap-8 md:grid-cols-3 ">
            {{ range where (sort .Site.Sections "Title") "Title" "!=" "Authors" }}

              <div class=" mt-4">
                <div class="text-uppercase font-weight-bold mb-1">
                  <a class="text-dark" target="_blank" href="{{ .Permalink }}" alt="View all posts in {{ .Title }}">{{ .Title }}</a>
                </div>
                <a target="_blank" href="{{ .Permalink }}">
                  <img class="rounded-lg shadow transition hover:shadow-xl lg:p-4" src="{{ .Params.img }}" alt="{{ .Title }}" />
                </a>
              </div>
            {{ end }}
          </div>
        </div>
      </div>
      {{/* END Of #allcategories */}}
    </div>
  </div>
  {{/* END OF class="container" */}}
  <!-- END OF define "main" -->
{{ end }}
