{{ define "main" }}

{{ if and .IsHome ( eq .Paginator.PageNumber 1 ) }}
{{ $pages := .Paginator.Pages | first 5}}
{{ with index $pages 0 }}
<div class="post">
	<h2 class="post__title">
	  <a href="{{ .Permalink }}">{{ .Title }}</a>
	</h2>
	<div class="post__summary">
	  {{ .Summary }}
	</div>
  </div>
{{end}}
<hr><hr>
{{ range after 1  $pages | first 3 }}
<div class="post">
	<h2 class="post__title">
	  <a href="{{ .Permalink }}">{{ .Title }}</a>
	</h2>
	<div class="post__summary">
	  {{ .Summary }}
	</div>
  </div>
{{end}}
<hr><hr>
	{{ range after 5 .Paginator.Pages }}
	<div class="post">
		<h2 class="post__title">
		  <a href="{{ .Permalink }}">{{ .Title }}</a>
		</h2>
		<div class="post__summary">
		  {{ .Summary }}
		</div>
	  </div>
	{{ end }}
  {{else}}
  {{ range .Paginator.Pages }}
<div class="post">
    <h2 class="post__title">
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h2>
    <div class="post__summary">
      {{ .Summary }}
    </div>
  </div>
{{ end }}
{{ end }}




{{ template "_internal/pagination.html" . }}
{{ end }}