{{ define "main" }}
  <style>
    .section-pages-tag {
      display: grid;
      grid-template-columns: 3rem auto;
      align-items: baseline;
    }
    .section-pages-tag ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      line-height: 1.5;
    }
    .section-pages-tag li {
      margin-right: 1em;
    }
    .section-pages-tag .key {
      font-style: italic;
      font-size: 1.7rem;
    }
  </style>
  {{- $letters := split "ABCDEFGHIJKLMNOPQRSTUVWXYZ" "" -}}
  {{- $pages := .Pages.ByTitle -}}
  {{- $pages_by_letters := dict -}}
  {{ range $pages }}
    {{- $page := . -}}
    {{- $first_letter := upper ( substr $page.Name 0 1 ) -}}
    {{- if not (in $letters $first_letter) }}
      {{ $first_letter = "#" }}
    {{ end }}
    {{- $new_list := slice -}}
    {{ with index $pages_by_letters $first_letter }}
      {{- $new_list = . | append $page -}}
    {{ else }}
      {{- $new_list = slice $page -}}
    {{ end }}
    {{- $pages_by_letters = merge $pages_by_letters (dict $first_letter $new_list) -}}
  {{ end }}


  <!-- ...rest of page -->
  <section class="section-pages-tag container">
    {{ range $key, $items := $pages_by_letters }}
      <span class="key">{{ $key }}</span>
      <ul>
        {{- range $items -}}
          <li><a class="post-tag-pill" href="{{ .RelPermalink }}">#{{ .Name }}</a><sup>{{ len .Pages }}</sup></li>
        {{- end -}}
      </ul>
    {{ end }}
  </section>
{{ end }}
