<div
  class="relative mb-8 grid grid-cols-1 gap-4 rounded-lg border bg-white p-4 shadow-lg"
>
  <div class="relative flex gap-4">
    <img
      class="relative -top-8 -mb-4 h-20 w-20 rounded-lg border bg-white"
      src="https://icons.iconarchive.com/icons/diversity-avatars/avatars/256/charlie-chaplin-icon.png"
      alt=""
      loading="lazy"
    />
    <div class="flex w-full flex-col">
      <div class="flex flex-row justify-between">
        <p class="relative overflow-hidden truncate whitespace-nowrap text-xl">
          {{ .commenter }}
        </p>
        <a class="text-xl text-gray-500" href="#"
          ><i class="fa-solid fa-trash"></i
        ></a>
      </div>
      <p class="text-sm text-gray-400">20 April 2022, at 14:88 PM</p>
    </div>
  </div>
  <p class="-mt-4 text-gray-500">{{ .comment }}</p>
</div>
