<li class="nav-item">
<a class="nav-link" href="{{ .Site.BaseURL }}">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{ .Site.BaseURL }}about.html" style="color: cornflowerblue;">About</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{ .Site.BaseURL }}contact.html">Contact</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://twitter.com/">Twitter</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.facebook.com/">Facebook</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="http://www.gmcratlam.org/">GMCR</a>
</li>