<nav id="MagicMenu" class="topnav navbar navbar-expand-lg navbar-light bg-white fixed-top">
	<div class="container">
	  <a class="navbar-brand" href="{{ .Site.BaseURL }}">
		<!-- <strong>{{.Site.Title}}</strong> -->
		<img src="{{ .Site.BaseURL}}images/brand.svg"/>
		<!-- {{ readFile "/static/images/brand.svg" | safeHTML }} -->
	  </a>
	  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation" onclick="toggleNavMenu()">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="navbar-collapse collapse" id="navbarColor02">
		<ul class="navbar-nav mr-auto d-flex align-items-center">
		  {{ partial "menu-header.html" . }}
		</ul>
		<ul>
		  <a href="{{ .Site.BaseURL }}index.xml" style="color:orangered">
			<i class="icon-rss-squared"></i>
		  </a>
		</ul>
	  </div>
	</div>
  </nav>