<div class="justify-content-between main-loop-card mb-5 flex flex-col md:flex-row">
  <div class="order-2 md:order-1 md:w-3/4">
    <h2 class="h4 font-weight-bold mb-1">
      <a class="text-dark" target="_blank" href="{{ .Permalink }}" aria-label="Read more about {{ .Title }}">{{ .Title }}</a>
    </h2>
    <p class="excerpt">
      {{ .Summary }}
    </p>
    <small class="d-block text-muted">
      <span class="catlist">
        <a class="text-muted text-capitalize smoothscroll" target="_blank" href="{{ .Site.BaseURL }}{{ .Section | urlize }}" rel="category tag">{{ replace .Section "_" " " }}</a>

        by
        {{/* AUTHOR */}}
        {{ $authpage := printf "%s%s" "/authors/" .Params.authid }}
        {{ with .Site.GetPage $authpage }}
          <a class="text-capitalize" target="_blank" href="{{ .Site.BaseURL }}{{ $authpage }}">{{ .Title }}</a>
        {{ end }}
      </span>
    </small>
    <small class="text-muted">
      <time class="post-date"
        >Published on
        {{ .Date.Format "January 02, 2006" }}
      </time>
    </small>
  </div>

  <div class="order-1 mb-2 pr-2 text-left md:order-2 md:w-1/4">
    <a target="_blank" href="{{ .Permalink }}">
      <img class="w-100" src="{{ index .Params.img }}" alt="{{ .Params.title }}" />
    </a>
  </div>
</div>
<hr class="mb-2" />
