{{ $ueti := printf "%s | The Articulate" .Title }}
<div class="share sharebar mt-2 flex">
  <span class="text-muted mr-3" style="line-height:30px">Share:</span>
  <a
    class="share-btn share-btn-facebook mr-2"
    href="https://facebook.com/sharer.php?u={{ .Permalink }}&p[title]={{ $ueti }}"
    rel="nofollow"
    target="_blank"
    title="Share on Facebook"
    ><i class="icon-facebook"></i
  ></a>
  <a
    class="share-btn share-btn-twitter mr-2"
    href="https://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ $ueti }}"
    rel="nofollow"
    target="_blank"
    title="Share on Twitter"
    aria-label=""
    ><i class="icon-twitter"></i
  ></a>
  <a
    class="share-btn share-btn-whatsapp mr-2"
    href="https://api.whatsapp.com/send?text={{ $ueti }}%0A%0A{{ .Permalink }}"
    data-action="share/whatsapp/share"
    target="_blank"
    rel="noopener"
    aria-label=""
    title="Share on WhatsApp"
    ><i class="icon-whatsapp"></i
  ></a>
  <a
    class="share-btn share-btn-telegram mr-2"
    href="https://t.me/share/url?text={{ $ueti }}%0A%0A&url={{ .Permalink }}"
    target="_blank"
    rel="noopener"
    aria-label=""
    title="Share on Telegram"
    ><i class="icon-paper-plane"></i>
  </a>
  <button class="share-btn share-btn-copy" data-link="{{ .Permalink }}" target="_blank" rel="noopener" aria-label="" title="Copy Link to Clipboard">
    <i class="icon-clone"></i>
  </button>
</div>
<div id="snackbar"><i class="icon-link"></i>&nbsp;&nbsp;Link copied successfully.</div>
